.articles {
	padding: 15px 0 70px;
	
	@include breakpoint(min-width, $bp-large) {
        padding-bottom: 20px;
    }
	 
	.zoom {
		@extend %zoom;
	}
	
	#articles-slider {
		display: flex;
    	flex-wrap: wrap;
	}

	.articles-slide-item {
		flex-direction: column;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
		position: relative;
		text-align: left;
		background-color: white;
		padding-bottom: 45px; 
		

		h2 {
			color: $title-color;
		    padding: 20px 28px 12px;
		    font-size: 2.6rem;
		    line-height: 30px;
		}

		p {
			color: $content-block;
			padding: 0 28px;
		    font-size: $main-font;
		    line-height: 26px;
		}
	}

	a {
	    position: absolute;
	    font-size: 48px;
	    top: 100%;
	    
	    &:hover {
	    	color: $primary-color;
	    }
	    
	    @include breakpoint(min-width, $bp-large) {
            top: 40%;
        }
	    
	    &.lSPrev {
	    	left: 40%;
	    	
	    	@include breakpoint(min-width, $bp-large) {
	            left: -5%;
	        }
	    }

	    &.lSNext {
	    	right: 40%;
	    	
	    	@include breakpoint(min-width, $bp-large) {
	            right: -5%;
	        } 
	    }
	}
}