* {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box; 
}

html {
    font-size: 50%;
     
    @include breakpoint(min-width, $bp-medium) {
        font-size: 62.5%; 
    }
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;  
    background: #ebebeb; 
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

.container {
    max-width: 970px;
    text-align: center;
    padding: 0 15px; 
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: -2px;  
}

a {
    color: inherit;
    text-decoration: none;
	
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.main-contant {
    @include breakpoint(min-width, $bp-medium) {
        width: 66%;
        float: left;
    }
}

.wrap {
    overflow: hidden;
}

.lSPrev,
.lSNext {
    cursor: pointer;
}