.post {
	margin-bottom: 102px;
    background-color: white;
    
    .content {
    	padding: 36px 52px 92px; 
    }
    
    .img-area {
    	max-width: 620px;
    	margin: 0 auto; 

    	.buttons{
    		position: absolute;
    		bottom: 0;
    		right: 0;
    		
    		button {
    			color: white;
			    font-size: 22px;
			    background-color: black;
			    height: 30px;
			    width: 30px;
			    
			    &:hover {
			    	background-color: $primary-color; 
			    }

			    &.add {
			    	margin: -4px; 
			    }
    		}
    	}
    }

    h2 {
    	color: $title-color;
	    font-size: 3.1rem;
	    margin-bottom: 16px; 
	}

	p {
		color: $content-block;
	    line-height: 24px;
	    font-size: 14px;
	}

	a {
		font-size: $main-font; 
	    padding-top: 5px;
	    display: inline-block;
	    color: red;
	}
}