.sidebar {
    color: white;
    max-width: 300px;
    margin: 0 auto;
    
     @include breakpoint(min-width, $bp-medium) {
        float: right;
        width: 32%; 
        margin-left: 2%; 
    }
    
    .state {
    	padding-bottom: 45px; 
    	margin-bottom: 20px; 
    	background-color: rgba(0, 0, 0, 0.8); 
     
    	h2 {
		    padding: 24px 28px 15px;
		    font-size: 26px;
		    line-height: 30px;
		} 

		p {
			padding: 0 28px;
			font-size: $main-font;
    		line-height: 24px; 
		}

        .zoom {
            @extend %zoom;
            border-top-color: $primary-color;
            border-right-color: $primary-color;
        }
    }
    
    .sidebar-menu {
    	li {
    		padding: 15px 25px;
		    margin-bottom: 5px;
		    background-color: white;
		    color: $title-color;
		    border-left: 2px solid grey; 
            font-size: 16px; 
            
            a:hover {
                color: $primary-color;
            }
    	}

    	span {
            font-size: $main-font; 
            color: #d6d6d6;
		    padding-left: 5px;
		}
    }
}