.sidebar {
    text-align: left;
    float: right;
    width: 32%; 
    margin-left: 2%; 
    color: white;
    
    
    .state {
    	padding-bottom: 45px; 
    	margin-bottom: 20px; 
    	background-color: rgba(0, 0, 0, 0.8); 
     
    	h2 {
		    padding: 20px 28px 15px;
		    font-size: 26px;
		    line-height: 30px;
		} 

		p {
			padding: 0 28px;
			font-size: 12px;
    		line-height: 24px; 
		}
    }
    
    .sidebar-menu {
    	li {
    		padding: 15px 25px;
		    margin-bottom: 5px;
		    background-color: white;
		    color: black;
		    border-left: 2px solid grey; 
            
            a:hover {
                color: $primary-color;
            }
    	}

    	span {
            color: #d6d6d6;
		    font-size: 12px;
		    padding-left: 5px;
		}
    }
}